* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100vh;
    width: 100vw;
}
body{
    position: relative;
    isolation: isolate;
    font-family: 'Libre Franklin', sans-serif;
    
}
body{
    position: relative;
    isolation: isolate;
    font-family: Arial, Helvetica, sans-serif;
    background: black;
}
body::after{
    content:' ';
    position: fixed;
    z-index: -1;
    inset: 0;
    opacity: .8;
    background: url('../image/fundo-serviços3.png');
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    background: rgba(0, 0, 0, 0.849);
    width: 100vw;
    height: 18vh;
}
span#burguer{
    display: none;
}
div.logo {
    width: 13vw;
    height: 18vh;
    margin-left: 20px;
}
div.logo img{
    width: 9vw;
    height: 18vh;
    border-radius: 100%;
}
div.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 19vh;
}
div.menu a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(197, 186, 85);
}
div.menu a:hover{
    color: rgb(221, 208, 86);
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 76vh;
}
div.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 80%;
    background: rgba(0, 0, 0, 0.575);
    box-shadow: 5px 10px #07070783;
    color: white;
}
div.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}
div.titulo h2{
    font-size: 26px ;
}
div.box-info{
    display: flex;
    width: 45%;
    height: 40%;
    border: .5px;
    border-radius: 2%;
    background: rgba(3, 3, 3, 0.507);
}
div.foto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
div.foto img{
    width: 80%;
    height: 80%;
}
div.artigos{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 100%;
}
div.artigos h3{
    font-size: 16px;
}
div.conteudo{
    width: 80%;
    height: 400px;
    background-color: aliceblue;
    position: relative;
}
div.conteudo article{
    text-align: center;
    height: 60px;
}
div.conteudo article h1{
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
    font-size: 50px;
    color: rgba(63, 62, 62, 0.808);
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.842);
    width: 100vw;
    height: 6vh;
}
footer p{
    font-size: 1vw;
    color: rgba(255, 255, 255, 0.623);
}
@media screen and (min-width: 378px) and (max-width: 678px){
    body{
        width: 100vw;
        height: 100vh;
    }
    header{
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 31vh;
    }
    div.logo{
        display: flex;
        align-items: center;
        width: 100vw;
        height: 8vh;
    }
    div.logo img{
        width: 12.5vw;
        height: 100%;
    }
    div.icon{
        display: flex;
        width: 100vw;
        justify-content: end;
        height: 5vh;
        color: white;
    }
    span#burguer{
        height: 5vh;
        color: white;
        display: block;
    }
    span#burguer:hover{
        color: rgb(184, 170, 107);
    }
    div.menu{
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 100vw;
        height: 19vh;
        background: rgb(185, 167, 66);
    }
    div.menu a{
        font-size: 14px;
        color: white;
    }
    main{
        width: 100vw;
        height: 64vh;
    }
    div.foto img{
        width: 70%;
        height: 50%;
        
    }
    div.artigos h3{
        font-size:12px ;
    }
    footer{
        width: 100vw;
        height: 5vh;
    }
}
@media screen and (min-width: 679px) and (max-width: 730px){
    div.menu a{
        font-size: 13px;
    }
    div.logo{
        width: 11vw;
        height: 17vh;
    }
    div.logo img{
        width: 11vw;
        height: 17vh;
    }
}
@media screen and (min-width: 730px) and (max-width: 883px){
    div.menu a{
        font-size: 16px;
    }
    div.logo{
        width: 11vw;
        height: 17vh;
    }
    div.logo img{
        width: 11vw;
        height: 17vh;
    }
}